<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mí | Alquimia Femenina</title>
    <link rel="shortcut icon" href="/statics/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="shortcut icon" href="../statics/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles.css">


</head>



<body>
    <header>
        <div class="header-superior">
            <div class="isologo">
                <img src="../statics/img/IsologoFinal.svg" alt="Logo">
            </div>
            <div class="titulo">
                <span class="nombreSitio">Alquimia Femenina</span>
            </div>
        </div>

        <nav>
            <a href="../index.html">Inicio</a>
            <a href="servicios.html">Servicios a Pacientes</a>
            <a href="tienda.html">Tienda</a>
        </nav>
    </header>

    <main>
        <h1>Sobre nosotras</h1>


        <section>
            <h2>Sobre mí</h2>
            <p>
                Hola, soy Emilse, madre de tres hijos, al mirar hacia atrás en mi vida, descubro que mi
                camino en el mundo del
                acompañamiento femenino comenzó mucho antes de mis formaciones como Doula, Puericultora y Terapeuta en
                Medicina
                Tradicional China. Ya en mi adolescencia (una etapa de transformaciones intensas) sentí que todo era más
                simple, más
                liviano, cuando nos ayudábamos entre nosotras. Ahí nació, sin saberlo, esta vocación profunda de
                sostener, escuchar
                y abrazar a otras mujeres. A lo largo de los años, cada vivencia personal y cada estudio fueron dando
                forma a ese
                llamado del alma: estar presente, con respeto, amor y consciencia, en los momentos más sensibles de la
                vida como la
                maternidad, la crianza y los cambios que nos atraviesan.
            </p>
            <p>
                Hoy te invito a recorrer juntas este camino, desde el corazón.
            </p>
        </section>


        <section class="tarjetas-detalle">
            <div class="tarjeta">
                <img src="../statics/img/Doula.svg" alt="Doula acompañando" />
                <h3>Doula</h3>
                <p>Acompañamiento emocional, físico y espiritual durante el embarazo, parto y posparto desde una mirada
                    amorosa
                    y respetuosa.</p>
            </div>
            <div class="tarjeta">
                <img src="../statics/img/Pueri.svg" alt="Puericultura" />
                <h3>Puericultura</h3>
                <p>Asesoramiento en lactancia, sueño y crianza respetuosa. Presencia cálida para acompañar tu
                    maternidad.</p>
            </div>
            <div class="tarjeta">
                <img src="/statics/img/MTC.svg" alt="Medicina Tradicional China" />
                <h3>Medicina Tradicional China</h3>
                <p>Tratamientos integrales desde la sabiduría ancestral china. Armonización energética y bienestar
                    físico-emocional.</p>
            </div>
        </section>


        <section>
            <h2>Nosotras en acción</h2>
            <div class="galeria">
                <a href="#galeria1" class="galeria-item">
                    <img src="../statics/img/galeria/galeria1.png" alt="">
                </a>
                <a href="#galeria2" class="galeria-item">
                    <img src="../statics/img/galeria/galeria2.png" alt="">
                </a>
                <a href="#galeria3" class="galeria-item">
                    <img src="../statics/img/galeria/galeria3.png" alt="">
                </a>
                <a href="#galeria4" class="galeria-item">
                    <img src="../statics/img/galeria/galeria4.png" alt="">
                </a>
                <a href="#galeria5" class="galeria-item">
                    <img src="../statics/img/galeria/galeria5.png" alt="">
                </a>
                <a href="#galeria6" class="galeria-item">
                    <img src="../statics/img/galeria/galeria6.png" alt="">
                </a>
                <a href="#galeria7" class="galeria-item">
                    <img src="../statics/img/galeria/galeria7.png" alt="">
                </a>
                <a href="#galeria8" class="galeria-item">
                    <img src="../statics/img/galeria/galeria8.png" alt="">
                </a>
                <a href="#galeria9" class="galeria-item">
                    <img src="../statics/img/galeria/galeria9.png" alt="">
                </a>
            </div>

            <!-- abro las imagenes grandes -->
            <div class="abreImg" id="galeria1">
                <a href="#" class="cerrar"> <i class="fa-solid fa-xmark"></i> </a>
                <img src="../statics/img/galeria/galeria1.png" alt="">
            </div>
            <div class="abreImg" id="galeria2">
                <a href="#" class="cerrar"> <i class="fa-solid fa-xmark"></i> </a>
                <img src="../statics/img/galeria/galeria2.png" alt="">
            </div>
            <div class="abreImg" id="galeria3">
                <a href="#" class="cerrar"> <i class="fa-solid fa-xmark"></i> </a>
                <img src="../statics/img/galeria/galeria3.png" alt="">
            </div>
            <div class="abreImg" id="galeria4">
                <a href="#" class="cerrar"> <i class="fa-solid fa-xmark"></i> </a>
                <img src="../statics/img/galeria/galeria4.png" alt="">
            </div>
            <div class="abreImg" id="galeria5">
                <a href="#" class="cerrar"> <i class="fa-solid fa-xmark"></i> </a>
                <img src="../statics/img/galeria/galeria5.png" alt="">
            </div>
            <div class="abreImg" id="galeria6">
                <a href="#" class="cerrar"> <i class="fa-solid fa-xmark"></i> </a>
                <img src="../statics/img/galeria/galeria6.png" alt="">
            </div>
            <div class="abreImg" id="galeria7">
                <a href="#" class="cerrar"> <i class="fa-solid fa-xmark"></i> </a>
                <img src="../statics/img/galeria/galeria7.png" alt="">
            </div>
            <div class="abreImg" id="galeria8">
                <a href="#" class="cerrar"> <i class="fa-solid fa-xmark"></i> </a>
                <img src="../statics/img/galeria/galeria8.png" alt="">
            </div>
            <div class="abreImg" id="galeria9">
                <a href="#" class="cerrar"> <i class="fa-solid fa-xmark"></i> </a>
                <img src="../statics/img/galeria/galeria9.png" alt="">
            </div>




        </section>






    </main>
    <footer>
        <div class="footer-superior">

            <div class="redes">
                <h4>Seguime en redes</h4>
                <div class="iconosFooter">
                    <a href="https://www.instagram.com/" target="_blank"> <i class="fa-brands fa-instagram"></i></a>
                    <a href="https://twitter.com/" target="_blank"> <i class="fa-brands fa-x-twitter"></i></a>
                </div>
            </div>

            <div class="contactos">
                <h4>Contactame directamente</h4>
                <div class="iconosFooter">
                    <a href="https://wa.me/5491153363908" target="_blank"> <i class="fa-brands fa-whatsapp"></i></a>
                    <a href="https://t.me/german_op" target="_blank"> <i class="fa-brands fa-telegram"></i></a>
                    <a href="mailto:german.oliverapere@gmail.com"> <i class="fa-solid fa-envelope"></i> </a>
                </div>
            </div>
        </div>

        <div class="copyright">
            <h4>&copy 2025 | Alquimia Femenina</h4>
        </div>
    </footer>



</body>

</html>