<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda | Alquimia Femenina</title>
    <link rel="shortcut icon" href="/statics/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="shortcut icon" href="../statics/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles.css">

</head>


<body>
    <header>
        <div class="header-superior">
            <div class="isologo">
                <img src="../statics/img/IsologoFinal.svg" alt="Logo">
            </div>
            <div class="titulo">
                <span class="nombreSitio">Alquimia Femenina</span>
            </div>
        </div>

        <nav>
            <a href="../index.html">Inicio</a>
            <a href="institucional.html">Sobre Mí</a>
            <a href="servicios.html">Servicios a Pacientes</a>
        </nav>
    </header>


    <main>

        <section class="seccionTienda">
            <h2>Servicios de Doula</h2>
            <div class="productos">
                <div class="productos-item">
                    <h3>Taller <br> Tu Primera Luna</h3>
                    <p>Taller sobre menarca y ciclo menstrual.</p>
                    <div>
                        <p class="precio">Valor: $20.000</p>
                        <button class="botonCarrito">Agregar al carrito</button>
                    </div>
                </div>

                <div class="productos-item">
                    <h3>Consultoría <br> Postparto</h3>
                    <p>Asesoramiento para el cuidado emocional y físico durante el postparto, con enfoque en la
                        recuperación y el vínculo familiar.</p>
                    <div>
                        <p class="precio">Valor: $22.000</p>
                        <button class="botonCarrito">Agregar al carrito</button>
                    </div>
                </div>

                <div class="productos-item">
                    <h3>Preparación al Parto</h3>
                    <p>Talleres grupales e individuales para preparar mental y emocionalmente a la mujer y a su pareja
                        para el parto.</p>
                    <div>
                        <p class="precio">Valor: $18.000</p>
                        <button class="botonCarrito">Agregar al carrito</button>
                    </div>
                </div>

                <div class="productos-item">
                    <h3>Apoyo Emocional</h3>
                    <p>Sesiones para gestionar emociones durante el embarazo, el parto y el postparto, con técnicas de
                        relajación y contención.</p>
                    <div>
                        <p class="precio">Valor: $16.000</p>
                        <button class="botonCarrito">Agregar al carrito</button>
                    </div>
                </div>

                <div class="productos-item">
                    <h3>Taler de Rebozo</h3>
                    <p>Técnica ansestral donde su utiliza un pañuelo grande para realizar masajes en la pelvis y otras
                        partes del cuerrpo para favorecer la dilatacion y aliviar molestias del embarazo.</p>
                    <div>
                        <p class="precio">Valor: $16.000</p>
                        <button class="botonCarrito">Agregar al carrito</button>
                    </div>
                </div>


            </div>

        </section>


        <section class="seccionTienda">
            <h2>Servicios de Puericultora</h2>
            <div class="productos">
                <div class="productos-item">
                    <h3>Taller <br>Destete</h3>
                    <p>Tipos de Destete: Destete respetuoso, destete nocturno y sueño infantil. Herramientas para el
                        destete de día.</p>
                    <div>
                        <p class="precio">Valor: $20.000</p>
                        <button class="botonCarrito">Agregar al carrito</button>
                    </div>
                </div>

                <div class="productos-item">
                    <h3>Consultas Pre-Natales</h3>
                    <p>Preparación a la lactancia, mitos y verdades.</p>
                    <div>
                        <p class="precio">Valor: $15.000</p>
                        <button class="botonCarrito">Agregar al carrito</button>
                    </div>
                </div>

                <div class="productos-item">
                    <h3>Asesoramiento a Empresas</h3>
                    <p>Asesoramiento sobre el armado, la implementación y el uso de lactarios. Charlas a empleados para
                        la concientización de la lactancia materna.</p>
                    <div>
                        <p class="precio">Valor: $25.000</p>
                        <button class="botonCarrito">Agregar al carrito</button>
                    </div>
                </div>

                <div class="productos-item">
                    <h3>Asesoramiento en Sueño Infantil</h3>
                    <p>Consultoría individual para mejorar los hábitos de sueño de tu bebé y ayudarte a tener noches más
                        tranquilas.</p>
                    <div>
                        <p class="precio">Valor: $22.000</p>
                        <button class="botonCarrito">Agregar al carrito</button>
                    </div>
                </div>

                <div class="productos-item">
                    <h3>Clases <br> de Porteo</h3>
                    <p>Sesión personalizada de porteo para aprender las técnicas correctas y cómodas para cargar a tu
                        bebé.</p>
                    <div>
                        <p class="precio">Valor: $18.000</p>
                        <button class="botonCarrito">Agregar al carrito</button>
                    </div>
                </div>

                <div class="productos-item">
                    <h3>Asesoramiento de Lactancia</h3>
                    <p>Apoyo personalizado para la iniciación y continuación exitosa de la lactancia materna.</p>
                    <div>
                        <p class="precio">Valor: $15.000</p>
                        <button class="botonCarrito">Agregar al carrito</button>
                    </div>
                </div>


            </div>

        </section>

        <section class="seccionTienda">
            <h2>Servicios Holísticos</h2>
            <div class="productos">
                <div class="productos-item">
                    <h3>Sanación de Útero</h3>
                    <p>Ritual terapéutico para liberar bloqueos emocionales y energéticos, reconectar con la energía
                        femenina y restaurar el bienestar en el sistema reproductivo.</p>
                    <div>
                        <p class="precio">Valor: $15.000</p>
                        <button class="botonCarrito">Agregar al carrito</button>
                    </div>
                </div>

                <div class="productos-item">
                    <h3>Reiki Terapéutico</h3>
                    <p>Sesión de Reiki para equilibrar la energía vital, reducir el estrés y promover la sanación física
                        y
                        emocional.</p>
                    <div>
                        <p class="precio">Valor: $18.000</p>
                        <button class="botonCarrito">Agregar al carrito</button>
                    </div>
                </div>

                <div class="productos-item">
                    <h3>Masaje Energético</h3>
                    <p>Masaje para liberar tensiones, equilibrar los chakras y restaurar el bienestar emocional y
                        físico.
                    </p>
                    <div>
                        <p class="precio">Valor: $20.000</p>
                        <button class="botonCarrito">Agregar al carrito</button>
                    </div>
                </div>

                <div class="productos-item">
                    <h3>Consulta de Aromaterapia</h3>
                    <p>Asesoramiento y tratamientos personalizados con aceites esenciales para armonizar cuerpo y mente.
                    </p>
                    <div>
                        <p class="precio">Valor: $16.000</p>
                        <button class="botonCarrito">Agregar al carrito</button>
                    </div>
                </div>
            </div>

        </section>

        <section class="seccionTienda">
            <h2>Medicina Tradicional China</h2>
            <div class="productos">
                <div class="productos-item">
                    <h3>Sesión Auriculoterapia</h3>
                    <p>Sesión terapéutica utilizando la estimulación de puntos específicos en la oreja para aliviar
                        tensiones, mejorar el bienestar general y equilibrar la energía del cuerpo.</p>
                    <div>
                        <p class="precio">Valor: $12.000</p>
                        <button class="botonCarrito">Agregar al carrito</button>
                    </div>
                </div>

                <div class="productos-item">
                    <h3>Sesión de Moxibustión</h3>
                    <p>Aplicación de calor terapéutico sobre puntos específicos del cuerpo para fortalecer el sistema
                        inmunológico, mejorar la circulación y aliviar dolores musculares.</p>
                    <div>
                        <p class="precio">Valor: $12.000</p>
                        <button class="botonCarrito">Agregar al carrito</button>
                    </div>
                </div>

                <div class="productos-item">
                    <h3>Sesión de Acupuntura</h3>
                    <p>Tratamiento con agujas finas para equilibrar el flujo de energía en el cuerpo, aliviando dolores
                        y mejorando el bienestar general.</p>
                    <div>
                        <p class="precio">Valor: $18.000</p>
                        <button class="botonCarrito">Agregar al carrito</button>
                    </div>
                </div>

                <div class="productos-item">
                    <h3>Sesión de Acupuntura</h3>
                    <p>Tratamiento con agujas finas para equilibrar el flujo de energía en el cuerpo, aliviando dolores
                        y mejorando el bienestar general.</p>
                    <div>
                        <p class="precio">Valor: $18.000</p>
                        <button class="botonCarrito">Agregar al carrito</button>
                    </div>
                </div>

                <div class="productos-item">
                    <h3>Sesión de Masaje Tui Na</h3>
                    <p>Masaje terapéutico tradicional chino que utiliza presión, fricción y estiramiento para liberar
                        tensiones musculares y mejorar la circulación.</p>
                    <div>
                        <p class="precio">Valor: $14.000</p>
                        <button class="botonCarrito">Agregar al carrito</button>
                    </div>

                </div>

                <div class="productos-item">
                    <h3>Pack 3 Sesiones de Auriculoterapia</h3>
                    <p>Un pack con tres sesiones continuadas de auriculoterapia, ideal para el manejo del estrés,
                        dolores crónicos y
                        mejora del bienestar general.</p>
                    <div>
                        <p class="precio">Valor: $40.000</p>
                        <button class="botonCarrito">Agregar al carrito</button>
                    </div>
                </div>

                <div class="productos-item">
                    <h3>Pack Combinado Moxibustión y Acupuntura</h3>
                    <p>Combinación de moxibustión y acupuntura para equilibrar la energía, mejorar la circulación y
                        aliviar dolencias de manera integral y profunda.</p>
                    <div>
                        <p class="precio">Valor: $15.000</p> $30.000</p>
                        <button class="botonCarrito">Agregar al carrito</button>
                    </div>
                </div>


            </div>

        </section>


    </main>

    <footer>
        <div class="footer-superior">

            <div class="redes">
                <h4>Seguime en redes</h4>
                <div class="iconosFooter">
                    <a href="https://www.instagram.com/" target="_blank"> <i class="fa-brands fa-instagram"></i></a>
                    <a href="https://twitter.com/" target="_blank"> <i class="fa-brands fa-x-twitter"></i></a>
                </div>
            </div>

            <div class="contactos">
                <h4>Contactame directamente</h4>
                <div class="iconosFooter">
                    <a href="https://wa.me/5491153363908" target="_blank"> <i class="fa-brands fa-whatsapp"></i></a>
                    <a href="https://t.me/german_op" target="_blank"> <i class="fa-brands fa-telegram"></i></a>
                    <a href="mailto:german.oliverapere@gmail.com"> <i class="fa-solid fa-envelope"></i> </a>
                </div>
            </div>
        </div>

        <div class="copyright">
            <h4>&copy 2025 | Alquimia Femenina</h4>
        </div>
    </footer>


</body>

</html>